.outer-div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vw;
    max-width: 750px;
    height: 80vh;
    max-height: 545px;
    transform: translate(-50%, -50%);
    background: #FFFBF3;
    border-radius: 6px;
}

.entries {
    width: 100%;
    max-width: 400px;
    margin: 1%;
}

.inner-div {
    display: block;
}

.entries a {
    color: gray;
    padding-top: 5px;
    padding: 0 15px;
}

.entries input {
    margin: 3px;
    width: 378px;
    height: 45px;
    line-height: 21px;
    padding: 0 24px;
}

.entries button {
    box-sizing: border-box;
    width: 378px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: white;
    font-weight: bold;
    margin: 5px;
}

.entries img {
    padding-bottom: 55px;
    width: 95%;
    height: 95%;
}

.send {
    background: #186d8e;
    border: 2px solid #186d8e;
}

.send:hover {
    border: 2px solid #D22D2D;
    filter: brightness(75%);
    transition: filter 0.3s;
}

.back {
    background: #158e0d;
    border: 2px solid #158e0d;
}

.back:hover {
    border: 2px solid orange;
    filter: brightness(75%);
    transition: filter 0.3s;
}

.back-link {
    text-decoration: none;
}

